<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175061425970-918l90hjtviodh40chacdlq8kl1ik86b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175061425970-918l90hjtviodh40chacdlq8kl1ik86b</string>
	<key>API_KEY</key>
	<string>AIzaSyCTlk4uZuC5kyrmCuXm6tlhP8Iz7AZjGdU</string>
	<key>GCM_SENDER_ID</key>
	<string>175061425970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoApp</string>
	<key>PROJECT_ID</key>
	<string>app-iot-7256c</string>
	<key>STORAGE_BUCKET</key>
	<string>app-iot-7256c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175061425970:ios:2f5499ca90d432f882012b</string>
</dict>
</plist>